.search {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.75rem;
}

#results {
    height: 100%;
    margin: 2rem 0;

    .gem {
        background: rgba(0, 0, 0, 0.20);
        padding: 1rem;
        margin: 1rem 0;

        button {
            display: block;
            background: var(--body-bg);
            color: var(--body-color);
            border: 0.2rem solid;
            border-spacing: 0;
            cursor: pointer;
            color: initial;
            font-size: 1rem;
            margin: 0;
            padding: 0.3rem 0.5rem;

            svg {
                max-width: 1rem;
                transform: translateY(3px);
                fill: var(--body-color);
            }

            &[data-saved="true"] {
                background: var(--body-color);
                color: var(--body-bg);

                svg {
                    fill: var(--body-bg);
                }
            }
        }

        .name {
            text-overflow: ellipsis;
            overflow: hidden;

            margin: 0;

            a {
                color: initial;
                text-decoration: none;

                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }

        .authors {
            opacity: 0.7;
            font-size: 0.75rem;
        }
    }

}
